.Reporttt {
  line-height: 46px;
  color: #017f94;
  align-self: stretch;
  border-bottom: 1px solid #017f94;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
}

.piechar {
  width: 20rem;
}

.cardoo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 calc(70.33% - 20px);
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 20px;
  transition: 0.3s;
  border: 1px solid #e06c0d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  gap: 30%;
}

.cardoo h3 {
   white-space: nowrap;
  font-size: 25px;
  margin-bottom: 10px;
  color: #017f94;
  border-bottom: 1px solid  #017f94;
}

.cardoo h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #ee8b3a;
}
.Report-gradename {
  color: #017f94;
  font-weight: 400;
  font-size: 30px;
}

.dropdown-Report{
  background: #ee8b3a;
  border-radius: 10rem;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  border: none;
  margin-top: 1px;
  text-transform: capitalize;
}

.form-Reports{
  display: flex;
flex-direction: row;
margin-bottom: 2rem;
align-items:center;
justify-content: flex-start;
margin-top: 2rem;
}
