.component-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: red;
        margin-left: 20rem;
        margin-top: 5rem;
        margin-right:20rem ;
         /* set the height of the container to fill the main content area */
      }
