.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20rem;
<<<<<<< HEAD
  margin-top: 1rem;
  margin-right: 30rem;
=======
  margin-right: 20rem;
>>>>>>> becefd91e3db47ea7e2f88d6c66dd4625f5a55d6
  /* set the height of the container to fill the main content area */
}


@media (max-width: 900px) {
  .react-calendar {
    display: none;
  }
}
