.course-title{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #017f94;
    align-self: stretch;
    border-bottom: 2px solid #017f94;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.CourseColor{
    background-color: #017F94;
}

.addingCourse{
    cursor: pointer;
}
.addingCourse:hover{
    color: #EE8B3A;
}
.course-title-input{
    color:white;
}
.btn-add-course{
    background-color: white;
    border: 1px solid white;
    color:white;
    padding:0.2rem ;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    width:8rem;
    display: block;
    border-radius: 10rem;
    border: 2px solid #EE8B3A;
    background-color: transparent;
}
input[type=text] {
    width: 15rem;
    padding: 0.5rem;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #EE8B3A;
    border-radius: 4px;
    background-color: transparent;
  }

  input::placeholder{
    color:white;
    
  }
  .orange-button {
    background-color: #EE8B3A!important;
  }
