.course-title{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #017f94;
    align-self: stretch;
    border-bottom: 2px solid #017f94;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CourseColor{
    background-color: #017F94;
}

.addingCourse{
    cursor: pointer;
}