.cardFrameStudent{
    background-color: #017f94;
    width: 16vw;
    height: 50vh;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 0;
  }
  .css-zow5z4-MuiGrid-root>.MuiGrid-item {
    padding-left: 0;
}
  .cardlinestudentcard {
    height: 3px;
    width: 90%;
  
    background-color: #EE8B3A;
    margin: auto;
    margin-top: -20px;
  }
  .cardFrameStudent img {
    margin: auto;
    width: 90px;
    height: 90px;
  }
  .StudentCardContent {
    width: 100%;
    margin-bottom: 50px;
  }
  .StudentCardContent p {
    padding-left: 15px;
    margin: 0px;
    margin-bottom: 5px;
  }
  .pfpicc {
    border: 2px solid;
    border-radius: 50%;
    padding: 5px;
  }
  .deleteStudentButtencontainer {
    position: absolute;
    margin-bottom: 43vh;
    margin-left: 12vw;
    background: none;
    border: none;
  border-radius: 30%; 
      cursor: pointer;

  }
  
  .deleteStudentButtencontainer:hover {
    opacity: 50%;
  }

  .editButtonStudent {
    position: absolute;
    margin-top: 44vh;
    margin-right: 10vw;
    width: 80px;
    height: 30px;
    font-size: 35px;
  }

  .editButtonStudent2 {
    position: absolute;
    margin-right: 10vw;
    width: 70px;
    height: 25px;
    border-radius: 15px;
    background-color: #EE8B3A;
    border: 0px;
    color: white;
  }
  .editButtonStudent2:hover {
    background-color: white;
    opacity: 90%;
    color: #EE8B3A;
    cursor: pointer;
    border: #EE8B3A 2px solid;
  }
  .editButtonSTudent2:active {
    background-color: #EE8B3A;
    opacity: 90%;
    color: white;
    cursor: pointer;
    border: white 2px solid;
  }

  .orange-button {
    background-color: #EE8B3A!important;
  }
  
  
