.cardFrame{
    background-color: #017F94;
    width: 20vw;
    height: 50vh;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    
}
.cardline{
    height: 3px;
    width: 90%;

    background-color: orange;
    margin: auto;
    margin-top: -20px;
}
.cardFrame img{
    margin: auto;

}
.p{
    width: 100%;
    margin-bottom: 20px;
}
.p p{
padding-left: 15px;
margin: 0px;

}
.deleteTeacherButten{
    position: absolute;
    margin-bottom: 44vh;
    margin-left: 14vw;
    background-color: #eeeeee;
  
}