.table-class {
  border-collapse: collapse;
  /* width: 100%; */
}

.first-- {
  background-color: blue;
}

.table-class th,
.table-class td {
  border: 3px solid #017f94;
  padding: 5px;
  text-align: center;
  width: 500px;
  color: #ee8b3a;
  font-size:20px;
 
}
.section-styling{
  padding: 0.2rem !important;
}

.level-section{
  padding: 0.9rem !important;
}
.table-class th {
  background-color: #017f94;
}
.table-class tbody th.section {
  margin-right: 10px;
}

.table-class tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-class tbody tr:hover {
  background-color: #ddd;
}

.button-delete-class {
  background-color: #ee8b3a;
  border: none;
  color: #017f94;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}
.button-delete-class:hover{
  background-color: #ee8b3a98;
}
.sectionss {
  padding-left: 20px;
}

.grade-title{
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #017f94;
  align-self: stretch;
  border-bottom: 2px solid #017f94;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
